form
{
    margin: 0 auto;
}
form h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}
div.inputs
{
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}
div.inputs input#date, input#description, select#category, input#amount, button[type=submit]
{
    margin: 8px auto;
    width: 70%;
    padding: 10px;
}