table
{
    margin: 50px auto;
}
table, th, td
{
    border: 2px solid black;
    border-collapse: collapse;
}
table thead th 
{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2em;
    padding: 10px;
}
table tr:nth-child(even)
{
    background-color: #f2f2f2;
}
table tr td
{
    padding: 15px;
}
table tr td button
{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1em;
    border-radius: 10px;
}